header{
    display: flex;
    align-items: center;
    background-color: red;
    justify-content:space-evenly;
    height: 220px;
    margin: 0px;
    width:100%;
    top:0;

}

img#rin{
    width: 200px;
    border-radius: 100%;
    max-width: 40%;
}

h1#nome{
    font-size: 60px;
    font-family: 'Caveat', cursive;
    color: black;
    text-shadow: 1px 1px 1px white;
    margin: 0px;
}
nav{
    background-color: black;
    margin-top: 0px;
    position: sticky;
    margin-top: auto;
    width: 100%;
    top: 0;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0px;
}
ul#serr{
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}
li a{
    font-family: 'Caveat', cursive;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
li a:hover{
    color: red;
}
section#subtitulo{
    text-align: center;
}
h1#ola{
    justify-content: center;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0px;
}
h4#carta{
    font-family: 'Caveat', cursive;
    font-size: 18px;
    text-decoration: none; 
    margin: 0px;
}
footer{
    bottom: 0px;
    align-items: center;
    justify-content: center;
    background-color: red;
    display: flex;
    height: 39px;
}
h6#credito{
    margin: 0px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
img#twitter{
    width: 30px;
    margin-left: 5px;
}
img#github{
    width: 31px;
    margin-left: 10px;
    background-color: white;
    border-radius: 100%;
}
body{
    background-color:  rgb(217, 217, 217);
    margin: 0px;
}
main section div{
    display: grid;
}
img#rintrabalho{
    width: 400px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 30px;
    border-radius: 8px;
    max-width: 50%;
}
section#principal{
    text-align: center;
}
div#textos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h2#portifolio{
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 10px;
}
h2#portifolio2{
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 10px;
}
h2#portifolio3{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0px;
    margin-left: 10px;
}
img#rinonu{
    width: 300px;
    margin-right: 25px;
    margin-top: 25px;
    margin-left: 30px;
    max-width: 50%;
}
div#exp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
section#experiencias{
    text-align: center;
}
h2#exp1{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0px;
    margin-right: 10px;
}
h2#exp2{
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 10px;
}
h2#exp3{
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 10px;
}
h2#ser{
    justify-content: center;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
}
li{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: underline;
    display:flex;
    text-align: center;
}
h2#cont{
    justify-content: center;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0px;
}
img#out{
    width: 300px;
}
section#outlook{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
@media screen and (max-width: 720px) {
    div#textos{
        display: inline;
    }
    img#rintrabalho{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-left: 27%;
    }
    div#exp{
        display: inline;
        justify-content: center;
        align-items: center;
    }
    img#rinonu{
        margin-left: 27%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    ul#serr{
        display: inline;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    ul{
        padding: 0px;
    }
    img#rin{
        margin-left: 10px;
    }
    li{
        align-items:center;
        justify-content: space-around;
        text-align: center;
    }
    h2#portifolio{
        margin-left: 0px;
    }
    h2#portifolio2{
        margin-left: 0px;
    }
    h2#portifolio3{
        margin-left: 0px;
    }
    h2#exp1{
        margin-right: 0px;
    }
    h2#exp2{
        margin-right: 0px;
    }
    h2#exp3{
        margin-right: 0px;
    }
    h2{
        font-size: 3vw;
    }
    li{
        font-size: 3vw;
    }
    img#out{
        max-width: 60%;
        margin-left: 20%;
    }
    h6#credito{
        font-size: 4vw;
    }
    img#github{
        max-width: 10%;
    }
    img#twitter{
        max-width: 10%;
    }
}